.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding: 1rem;
}

.card-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin: 0;
    padding: 1rem;
}

.card-text{
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin: 0;
    padding: 1rem;
}